@{
    ViewBag.Title = "违规记录统计";
}
<body class="bg-light">
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/System/Main/Index/">管理中心</a>
                </li>
                <li class="breadcrumb-item">人事信息管理</li>
                <li class="breadcrumb-item active">违规记录统计</li>
            </ol>
        </div>
        <div class="container-fluid">
            <div class="btn-group btn-group-toggle  btn-block" data-toggle="buttons">
                <label id="RecordCheck" class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> 记录总览
                </label>
                <label id="NewRecord" class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> 新增记录
                </label>
            </div>
            <hr />
            <div id="RecordPart" class="container-fluid">
                
            </div>
            <div id="NewPart" style="display:none" class="container-fluid">
                <div id="SubmitSuccess" style="display:none" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>创建完成</strong>
                    <hr>
                    <p>
                        该条记录已登记完毕。
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div id="ConnectError" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>提交失败</strong>
                    <hr>
                    <p>
                        遇到网络问题，请检查服务器或网络连接。
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="container">
                    <div class="col-md-10 mb-3">
                        <label for="ReferID"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">被执行人编号</font></font></label>
                        <input type="text" class="form-control" id="ReferID" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="ReferName"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">被执行人姓名</font></font></label>
                        <input type="text" class="form-control" id="ReferName" placeholder="" value="" required="" disabled>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="Reason"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">处罚原因</font></font></label>
                        <input type="text" class="form-control" id="Reason" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            处罚原因必须填写.
                        </div>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="FundsPunish"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">罚款金额</font></font></label>
                        <input type="text" class="form-control" id="FundsPunish" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            罚款金额因必须填写.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="RecordDate"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">记录时间</font></font></label>
                        <input type="date" class="form-control" id="RecordDate" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            违规记录时间必须填写.
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="container">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md">
                                <input type="button" value="提交记录" onclick="SubmitViolation()" class="btn btn-primary btn-lg btn-block" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "/System/HR/CreateViolation",
            data: {},
            success: function (data) {
                    $('#RecordPart').html(data);
            },
            error: function (data) {
                $('#RecordPart').html(data);
            }
        })
    });
    function SubmitViolation() {
        var refID = $('#ReferID').val();
        var reason = $('#Reason').val();
        var punish = $('#FundsPunish').val();
        var date = $('#RecordDate').val();
        $.ajax({
            type: 'POST',
            url: "/System/HR/CreateViolation",
            data: { ReferID: refID, Reason: reason, RecordDate: date, Punish:punish},
            success: function (data) {
                    $('#RecordPart').html(data);
                    $('#NewPart').html();//TODO:实现局部页面刷新 
                    $('#SubmitSuccess').show();     
            },
            error: function (data) {
                $('#RecordPart').html(data);
                $('#NewPart').html();
            }
        })
    }
    $(function () {
        //输入框的值改变时触发
        $("#ReferID").on("input", function (e) {
            //获取input输入的值
            var id = e.delegateTarget.value;
            console.log(id);
            $.ajax({
                type: 'POST',
                url: "/System/HR/GetUserName",
                data: { id: id },
                success: function (data) {
                    if (data) {
                        console.log('data:' + data);
                        $('#ReferName').val(data);
                    }
                },
                error: function () {
                    console.log('No such ID');
                    $('#ReferName').val("");
                }
            })
        });
    });
    $(function() { 
        $("#RecordCheck").click(function(){
            $("#NewPart").hide();
            $("#RecordPart").show();
        });
    });
    $(function() { 
        $("#NewRecord").click(function(){
            $("#RecordPart").hide();
            $("#NewPart").show();
        });
    });
</script>