@model IEnumerable<MicroERP.Model.ViewUserAsEmployee>

@{
    ViewBag.Title = "违规记录统计";
}
<body class="bg-light">
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index">管理中心</a>
                </li>
                <li class="breadcrumb-item">人事信息管理</li>
                <li class="breadcrumb-item active">违规记录统计</li>
            </ol>
        </div>
        <div class="container-fluid">
            <div class="btn-group btn-group-toggle  btn-block" data-toggle="buttons">
                <label id="RecordCheck" class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> 记录总览
                </label>
                <label id="NewRecord" class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> 新增记录
                </label>
            </div>
            <hr />
            <div id="RecordPart" class="container-fluid">
                this is Record Part
            </div>
            <div id="NewPart" style="display:none" class="container">
                this is New Part
            </div>
        </div>
    </div>
</body>
<script>
    $(function() { 
        $("#RecordCheck").click(function(){
            $("#NewPart").hide();
            $("#RecordPart").show();
        });
    });
    $(function() { 
        $("#NewRecord").click(function(){
            $("#RecordPart").hide();
            $("#NewPart").show();
        });
    });
</script>