<!DOCTYPE html>
@{ 
    var currentUser = ViewBag.currentLoginInfo as MicroERP.Model.ViewUserAsEmployee;
}
<html lang="en">

<head>

  <meta charset="utf-8">
  @*似乎是跟浏览器适配相关的<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="毕业设计：适用于小微型贸易公司的ERP系统">
  <meta name="author" content="纪玉涵">

  <!-- Custom fonts for this template-->
  <link href="~/Areas/System/Content/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
  <!-- Page level plugin CSS-->
  <link href="~/Areas/System/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
  <!-- Custom styles for this template-->
  <link href="~/Areas/System/Content/css/system-admin.css" rel="stylesheet" />
</head>

<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="index.html">MicroERP 系统</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search TODO:暂时取消搜索栏，直到确认搜索栏功能 -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group" style="display:none">
                <input type="text" class="form-control" placeholder="搜索内容..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li style="color:white">你好，@currentUser.UserName</li>
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <span class="badge badge-danger">9+</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                    <a class="dropdown-item" href="#">处理相关数据</a>
                    @*<a class="dropdown-item" href="#">Another action</a>*@
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            @*<li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <span class="badge badge-danger">7</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>*@
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">个人资料</a>
                    @*<a class="dropdown-item" href="#">Activity Log</a>*@
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">退出登录</a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <!--TODO:上面的active指的是默认高亮，设为dropdown表示默认灰暗，在页面确认做完后可以修改这里-->
                <a class="nav-link" href="/System/Main/Index/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>总览</span>
                </a>
            </li>
            @if (currentUser.UserDepartment == "市场部" || currentUser.UserDepartment == "财务部" || currentUser.UserDepartment == "综合管理部")
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>资金信息管理</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <h6 class="dropdown-header">资金单申请</h6>
                        <a class="dropdown-item" href="login.html">货流资金申请</a>
                        <a class="dropdown-item" href="register.html">驳回单修改</a>
                        @*<a class="dropdown-item" href="forgot-password.html">Forgot Password</a>*@
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">资金单确认：</h6>
                        <a class="dropdown-item" href="404.html">待确认表单</a>
                        <a class="dropdown-item" href="blank.html">驳回表单</a>
                    </div>
                </li>
            }
            @if (currentUser.UserDepartment == "人事部" || currentUser.UserDepartment == "财务部" || currentUser.UserDepartment == "综合管理部")
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>人事信息管理</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <h6 class="dropdown-header">人事调动：</h6>
                        <a class="dropdown-item" href="/System/HR/Index/">员工总览</a>
                        <a class="dropdown-item" href="/System/HR/CreateEmployee/">新员工入职</a>
                        <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">行政处罚：</h6>
                        <a class="dropdown-item" href="/System/HR/ViolationIndex/">员工违规记录</a>
                        <a class="dropdown-item" href="blank.html">Blank Page</a>
                    </div>
                </li>
            }
            @if (currentUser.UserDepartment == "市场部" || currentUser.UserDepartment == "财务部" || currentUser.UserDepartment == "综合管理部")
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>货流信息管理</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <h6 class="dropdown-header">货流单申请：</h6>
                        <a class="dropdown-item" href="/System/Goods/Create/">进出货申请</a>
                        <a class="dropdown-item" href="/System/Goods/Create/">驳回单修改</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">货流单确认：</h6>
                        <a class="dropdown-item" href="404.html">进出货确认</a>
                        <a class="dropdown-item" href="blank.html">驳回单状态更新</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">货流统计：</h6>
                        <a class="dropdown-item" href="/System/Goods/Index/">货单记录总览</a>
                    </div>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-desktop"></i>
                    <span>个人资料设置</span>
                </a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span>
                </a>
            </li>*@
        </ul>
        @RenderBody()
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">确认退出</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">确定要退出登录吗？</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                    <a class="btn btn-primary" href="/System/Main/ExitLog/">退出登录</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/System/Content/vendor/jquery/jquery.js"></script>
    <script src="~/Areas/System/Content/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Areas/System/Content/vendor/jquery-easing/jquery.easing.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Areas/System/Content/vendor/chart.js/Chart.js"></script>
    <script src="~/Areas/System/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Areas/System/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Areas/System/Content/js/system-admin.js"></script>
    <!-- Demo scripts for this page-->
    <script src="~/Areas/System/Content/js/demo/datatables-demo.js"></script>
    <script src="~/Areas/System/Content/js/demo/chart-area-demo.js"></script>
    <script>

    </script>
</body>

</html>
